@import '~antd/dist/antd.css';

.default {
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px dashed rgba(255,255,255, 1);
    width: 20vh;
    height: 20vh;
}
.dropzone {
    border-radius: 5px;
    padding: 0.5rem;
    background: rgba(255,255,255, 1);
    border: 1px solid rgba(255,255,255, 1);
}
.ReactCrop {
    display: block; 
}
.ReactCrop__crop-selection {
    border-radius: 50%;
    border: 0px solid;
}
.ReactCrop__image {
    max-height: 30vh;
}
.DayPickerInput {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 0 solid black;
    bottom: 0;
    padding-top: 1.6rem;
    padding-bottom: 0.2rem;
}

.DayPickerInput input {
    width: 100%;
    border-radius: 3px;
    display: block;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
    background: transparent;
    border: none;
    font-size: 1rem;
}

.DayPickerInput input:focus {
    border: none;
    outline: none;
}
